.c-app {
  text-align: center;

  &__logo {
    animation: c-app-logo-spin infinite 20s linear;
    height: 80px;
  }

  &__header {
    background-color: $light-black;
    height: 150px;
    padding: 20px;
    color: $white;
  }

  &__title {
    font-size: 1.5em;
  }

  &__intro {
    font-size: large;

    &--code {
      font-size: smaller;
      color: $light-black;
    }
  }
}

@keyframes c-app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
